html {

    height: 100%;

}

body {
    
    background-image: url("C:/Users/tgd90/Desktop/Basic-Portfolio/assets/images/brickwall/brickwall_@2X.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

footer {

    background-color: #666666;
    width: 100%;
    height: 50px;
    color: white;
    border-top: 8px solid #4aaaa5;
    margin-top: auto;
    position: relative;

}

footer p {

    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
    font-size: xx-small;

}

.header {

    background: #ffffff;
    font-family: 'Georgia', Times, "Times New Roman", serif;

}

header::after {

    content: '';
    display: table;
    clear: both;

}

.content {

    width: 960px;
    background: #ffffff;
    border: 1px solid #dddddd;
    height: auto;
    margin: 20px auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

h2 {

    margin-left: 20px;
    color: teal;
    font-family: 'Georgia', Times, "Times New Roman", serif;

}

.headerlinks {

    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 80%;
    margin: 0 auto;

}

h1 {

    float: left;
    margin-left: 85px;
    background-color: teal;
    margin-bottom: 0px;
    color: white;
    background-size: 100px;
    
}

nav {

    float: right;

}

nav ul {

    list-style: none;
    margin: 0;
    padding: 0;
    
}

nav li {

    float: left;
    padding-top: 30px;
    margin-left: 0px;
    margin-right: 90px;
    align-items: right;
    
}

form {

    margin-left: 20px;

}

hr {

    margin: 20px;

}

.submitbutton {

    background-color: #4aaaa5;
    color: white;
    border: none;
    padding: 10px 40px 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    
}